Flask==2.0.1
#logging==0.5.1.2
#datetime==0.5.1.2
Werkzeug==2.0.1
 ## in our case no need for those files since we have created a virtrual environments 
 ## no need to install logging and datetime  because they are a part of python default libraries